body { 
    margin: 40px;
}
.ui-head { 
    font-size: 1.6em;
    margin-bottom: 15px;
}

.header { 
    font-size: 1.3em;
}

.button { 
    position:relative;
    width:auto;
    border: 1px solid orange;
    cursor:pointer;
}

.workset-metadata { 
    font-size: 1.2em;
    height: 20%;
}

.works { 
    display:none;
}

.works .author { 
    font-weight: bold;
}

.htrc-wcsa_works { 
    background: #ffffda;
    opacity:100%;
    z-index: 1;
}
.eeboo_works { 
    background: #daffff;
    opacity:100%;
    z-index: 1;
}

.work { 
    margin-top: 5px;
    border: 1px solid black; 
}

.itemheader { 
    font-weight: bold;
}

.detailed-works { 
    position:relative;
    height:auto;
    overflow-y:auto;
}

.pperson span:hover { 
    cursor:pointer;
}

.pperson i { 
    cursor:pointer;
}

.pperson .fa-eye, .pperson .fa-eye-slash { 
    visibility:hidden;
}
.pperson:hover .fa-eye, .pperson:hover .fa-eye-slash {
    visibility:visible;
    color:#cccccc;
}


.pperson.unlisted span { 
    cursor:default !important;
    color:#aaaaaa !important;
    text-decoration:line-through;
    pointer-events:none;
}

.pperson.selected span { 
    color:#669966 !important;
}

.pperson.selected .fa-eye-slash { 
    visibility:hidden !important;
}

.controls .button { 
    visibility:hidden;
}

#querybuilder { 
    border: 1px solid black;
}

#includedInQuery { 
    border: 1px solid black;
}

#personsInQuery div { 
    cursor:pointer;
}

#personsInQuery div:hover { 
    color:#996666;
}
