body { 
    margin: 40px;
}
.ui-head { 
    font-size: 1.6em;
    margin-bottom: 15px;
}

.constructor-head { 
    font-size: 1.6em;
    margin-bottom: 5px;
}

.header { 
    font-size: 1.3em;
}

.button { 
    position:relative;
    width:auto;
    border: 1px solid orange;
    cursor:pointer;
}

.workset-metadata { 
    font-size: 1.2em;
    height: 20%;
}

.works { 
    display:none;
}

.works .author { 
    font-weight: bold;
}

.htrc-wcsa_works { 
    background: #ffffda;
    opacity:100%;
    z-index: 1;
}
.eeboo_works { 
    background: #daffff;
    opacity:100%;
    z-index: 1;
}

.work { 
    margin-top: 5px;
    border: 1px solid black; 
}

.itemheader { 
    font-weight: bold;
}

.detailed-works { 
    position:relative;
    height:auto;
    overflow-y:auto;
}

.preview div div span:hover { 
    cursor:pointer;
}

.preview div div i { 
    cursor:pointer;
}

.preview div div .fa-eye, .preview div div .fa-eye-slash { 
    visibility:hidden;
}
.preview div div:hover .fa-eye, .preview div div:hover .fa-eye-slash {
    visibility:visible;
    color:#cccccc;
}


.preview div div.unlisted span { 
    cursor:default !important;
    color:#aaaaaa !important;
    text-decoration:line-through;
    pointer-events:none;
}

.preview div div.selected span { 
    color:#669966 !important;
}

.preview div div.selected .fa-eye-slash { 
    visibility:hidden !important;
}

.controls .button { 
    visibility:hidden;
}


#querybox .queryitem { 
    margin-bottom: 10px;
    border: 1px solid black;
}

#includedInQuery { 
    border: 1px solid black;
    margin-bottom:10px;
}

#includedInQuery div { 
    max-height:10em;
    overflow-y:auto;
}

#includedInQuery div div { 
    cursor:pointer;
}

#includedInQuery div div:hover { 
    color:#996666;
}

#qperson, #personsInQuery { 
    background:#f0fff0;
}

#qplace, #placesInQuery { 
    background:#f0f0ff;
}

#qsubject, #subjectsInQuery { 
    background:#fff0f0;
}

#qgenre, #genresInQuery { 
    background:#f0ffff;
}

.preview { 
    margin:5px;
    /*border-bottom: 1px solid black;*/
    max-height:10em;
    overflow-y:auto;
}

.preview.last { 
    border-bottom: none !important;
}
