    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='elephant-ui.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='elephant-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.11.4/jquery-ui.theme.min.css') }}">

