<html>
    <head> 
        {% include "boiler.html" %}
        <title> Elephant Workset Constructor </title>
    </head>
    <body>
       <div id="includedInQuery">
           <span class="personsIncludedHeader">Persons currently included in workset:</span>
           <div id="personsInQuery"> </div>
           <span class="placesIncludedHeader">Publication places currently included in workset:</span>
           <div id="placesInQuery"> </div>
           <div id="notPlacesInQuery"> </div>
           <span class="button">Create workset</span>
           <br/>
       </div>
        <div id="querybuilder">
            <div id="querybox">
                <div id="qperson">
                    <input type="text" id="person" onKeyUp="personInput(this)">
                    <div id="qpersons">
                    </div>
                   <div class="controls">
                      <span class="button" onclick="includeSelectedPersons(this)">Add selected</span>
                      <span class="button" onclick="includeListedPersons(this)">Add all listed</span>
                  </div>
                   <div class="preview">
                       <div class = "persons"></div>
                   </div>
                </div>
                <div id="qplace">
                    <input type="text" id="place" onKeyUp="placeInput(this)">
                    <div id="qplaces">
                    </div>
                   <div class="controls">
                      <span class="button" onclick="includeSelectedPlaces(this)">Add selected</span>
                      <span class="button" onclick="includeListedPlaces(this)">Add all listed</span>
                  </div>
                   <div class="preview">
                       <div class = "places"></div>
                   </div>
                </div>
           </div>
       </div>
        <script>
            {# build a JSON object that contains all EEBOO Persons, so that we can access them from the query interface #}
            var persons = { 
                {% set delim = "" %}
                {% for p in persons %} 
                    {{ delim }} "{{ p["label"]|safe }}": "{{ p["uri"]|safe }}"
                    {% set delim = "," %}
                {% endfor %}
            }
        
            {# build a JSON object that contains all publication place names, so we can access them from the query interface #}
            var places = [ 
                {% set delim = "" %}
                {% for p in places %} 
                    {{ delim }} "{{ p|safe }}"
                    {% set delim = "," %}
                {% endfor %}
            ]
        </script>
    </body>
</html>
