<html>
    <head> 
        {% include "boiler.html" %}
        <title> Elephant Workset Constructor </title>
    </head>
    <body>
        <div class="constructor-head">Current Workset Parameters</div>
        <div id="includedInQuery">
           <span id="personsIncludedHeader">Include only works by these <em>persons</em> in the workset:</span>
           <div id="personsInQuery"> </div>
           <span id="placesIncludedHeader">Include only works with these <em>publication places</em> in the workset:</span>
           <div id="placesInQuery"> </div>
           <div id="notPlacesInQuery"> </div>
           <span id="subjectsIncludedHeader">Include only works by authors who have written on these <em>subjects</em> in the workset:</span>
           <div id="subjectsInQuery"> </div>
           <span id="genresIncludedHeader">Include only works by authors who have written in these <em>genres</em> in the workset:</span>
           <div id="genresInQuery"> </div>
           <span id="datesIncludedHeader">Limit by <em>date</em>:</span>
           <div id="datesInQuery"> </div>
           <br/>
       </div>
        <div class="constructor-head">Workset Constructor</div>
        <div id="querybuilder">
            <div id="querybox">
                <div class="queryitemlabel">Person</div>
                <div class="queryitem" id="qperson">
                    <input type="text" id="person" onKeyUp="personInput(this)">
                    <div id="qpersons">
                    </div>
                   <div class="controls">
                      <span class="button" onclick="includeSelectedPersons(this)">Add selected</span>
                      <span class="button" onclick="includeListedPersons(this)">Add all listed</span>
                  </div>
                   <div class="preview">
                       <div class = "persons"></div>
                   </div>
                </div>
                <div class="queryitemlabel">Place</div>
                <div class="queryitem" id="qplace">
                    <input type="text" id="place" onKeyUp="placeInput(this)">
                    <div id="qplaces">
                    </div>
                   <div class="controls">
                      <span class="button" onclick="includeSelectedPlaces(this)">Add selected</span>
                      <span class="button" onclick="includeListedPlaces(this)">Add all listed</span>
                  </div>
                   <div class="preview">
                       <div class = "places"></div>
                   </div>
                </div>
                <div class="queryitemlabel">Subject</div>
                <div class="queryitem" id="qsubject">
                    <input type="text" id="subject" onKeyUp="subjectInput(this)">
                    <div id="qsubjects">
                    </div>
                   <div class="controls">
                      <span class="button" onclick="includeSelectedSubjects(this)">Add selected</span>
                      <span class="button" onclick="includeListedSubjects(this)">Add all listed</span>
                  </div>
                   <div class="preview">
                       <div class = "subjects"></div>
                   </div>
                </div>
                <div class="queryitemlabel">Genre</div>
                <div class="queryitem" id="qgenre">
                    <input type="text" id="genre" onKeyUp="genreInput(this)">
                    <div id="qgenres">
                    </div>
                   <div class="controls">
                      <span class="button" onclick="includeSelectedGenres(this)">Add selected</span>
                      <span class="button" onclick="includeListedGenres(this)">Add all listed</span>
                  </div>
                   <div class="preview">
                       <div class = "genres"></div>
                   </div>
                </div>
                <div class="queryitemlabel">Dates</div>
                <div class="queryitem" id="qdate">
                    <select name="datetype" id="datetype">
                        <option value="workpub" selected="selected">Work published</option>
                        <option value="birth">Author born</option>
                        <option value="death">Author died</option>
                        <option value="floruit-start">Author fl. from</option>
                        <option value="floruit-end">Author fl. until</option>
                    </select>
                    <select name="daterelation" id="daterelation">
                        <option value="&equals;" selected="selected">during</option>
                        <option value="<">before</option>
                        <option value=">">after</option>
                    </select>
                    <input type="text" value="" size="4" maxlength="4" id="date" title="Format: YYYY"><span class="button" onclick="dateInput(this)">Add</span>
                  <div class="controls">
                      <span class="button" onclick="includeSelectedDates(this)">Add selected</span>
                      <span class="button" onclick="includeListedDates(this)">Add all listed</span>
                  </div>
                   <div class="preview last">
                       <div class = "dates"></div>
                   </div>
                </div>
           </div>
       </div>
       <div class="constructor-head">Workset Description</div>
       <div class="workset-metadata-input">
           <div>Title:</div>
           <input type="text" id="workset-title" name="workset-title"><br/>
           <div>Abstract:</div>
           <textarea id="workset-abstract" name="workset-abstract"></textarea>
       </div>

        <span class="button" onclick="packQuery()">Create workset</span>
        <span class="button back"><a href="/">Back to viewer</a></span>
        <script>
            {# build a JSON object that contains all EEBOO Persons, so that we can access them from the query interface #}
            var persons = { 
                {% set delim = "" %}
                {% for p in persons %} 
                    {{ delim }} "{{ p["label"]|safe }}": "{{ p["uri"]|safe }}"
                    {% set delim = "," %}
                {% endfor %}
            };
        
            {# build a JSON object that contains all publication place names, so we can access them from the query interface #}
            var places = [ 
                {% set delim = "" %}
                {% for p in places %} 
                    {{ delim }} "{{ p|safe }}"
                    {% set delim = "," %}
                {% endfor %}
            ];

            {# build a JSON object that contains all publication subject names, so we can access them from the query interface #}
            var subjects = [ 
                {% set delim = "" %}
                {% for s in subjects %} 
                    {{ delim }} "{{ s|safe }}"
                    {% set delim = "," %}
                {% endfor %}
            ];
            
            {# build a JSON object that contains all publication genre names, so we can access them from the query interface #}
            var genres = [ 
                {% set delim = "" %}
                {% for g in genres %} 
                    {{ delim }} "{{ g|safe }}"
                    {% set delim = "," %}
                {% endfor %}
            ];
        </script>
    </body>
</html>
