<html>
    <head> 
        {% include "boiler.html" %}
        <title> Elephant Workset Viewer </title>
    </head>
    <body>
        <div class = "ui-head">Elephant Workset Viewer</div>

        <div class = "collection" id="selectable">
            <div class = "item">
                <div class = "header">Workset 1</div>
                <ul>
                    <li> Metadata 1</li>
                    <li> Metadata 2</li>
                    <li> Metadata 3</li>
                </ul>
            </div>
            <div class = "item">
                <div class = "header">Workset 2</div>
                <ul>
                    <li> Metadata 1</li>
                    <li> Metadata 2</li>
                    <li> Metadata 3</li>
                </ul>
            </div>
            <div class = "item">
                <div class = "header">Workset 3</div>
                <ul>
                    <li> Metadata 1</li>
                    <li> Metadata 2</li>
                    <li> Metadata 3</li>
                </ul>
            </div>
            <div class = "item">
                <div class = "header">Workset 4</div>
                <ul>
                    <li> Metadata 1</li>
                    <li> Metadata 2</li>
                    <li> Metadata 3</li>
                </ul>
            </div>
            <div class = "item">
                <div class = "header">Workset 5</div>
                <ul>
                    <li> Metadata 1</li>
                    <li> Metadata 2</li>
                    <li> Metadata 3</li>
                </ul>
            </div>
            <div class = "item">
                <div class = "header">Workset 6</div>
                <ul>
                    <li> Metadata 1</li>
                    <li> Metadata 2</li>
                    <li> Metadata 3</li>
                </ul>
            </div>
        </div>
    </body>
</html>
