<html>
    <head> 
        {% include "boiler.html" %}
        <title> Elephant Workset Viewer </title>
    </head>
    <body>
        <div class = "ui-head">Elephant Workset Viewer</div>
        <div class = "collection">
            {% for workset in worksets %}
            <div class = "item">
                <div class = "header">{{ worksets[workset]["title"]|safe }}</div>
                <ul>
                    <li> Abstract: {{ worksets[workset]["abstract"]|safe }}</li>
                    <li> User: {{ worksets[workset]["user"]|safe }}</li>
                    <li> Created: {{ worksets[workset]["mod_date"]|safe }}</li>
                    <li class="numworks" onclick="expandItems(this)"> {{ worksets[workset]["works"]|length }} items <i class="fa fa-plus-square-o"></i>
                    <div class="works">
                        {% for work in worksets[workset]["works"] %} 
                            <ul>
                                <li class = "{{ work["saltset"]|safe }}"> 
                                <span class="author" title="{{ work["creator"]|safe }}">{{ work["author"]|safe }}</span>
                                    <span class="title" title="{{ work['uri']|safe }}">{{ work["worktitle"]|safe }}</span>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    </li>
                </ul>

            </div>
            {% endfor %}
        </div>
        <span class="button">Add new</span>
    </body>
</html>
