<html>
    <head> 
        {% include "boiler.html" %}
        <title> Elephant Workset Viewer </title>
    </head>
    <body>
        <div class = "ui-head">Elephant Workset Viewer</div>
        <div class = "collection">
            {% for workset in worksets %}
            <div class = "item">
                <div class = "header" title=" {{ worksets[workset]["uri"]|safe }}">{{ worksets[workset]["title"]|safe }} 
                    <span class="bubble uri">URI</span>
                    <span class="bubble ro">&nbsp;RO&nbsp;</span>
                    <span class="bubble wcsa">WCSA</span>
                </div>
                <ul class="workset-metadata">
                    <li> <a href="{{ worksets[workset]["urilocal"]|safe }}" title="Click to open detailed workset view">
                        Open in workset viewer </a></li>
                    <li> Abstract: {{ worksets[workset]["abstract"]|safe }}</li>
                    <li> User: {{ worksets[workset]["user"]|safe }}</li>
                    <li> Created: {{ worksets[workset]["mod_date"]|safe }}</li>
                    <li> {{ worksets[workset]["works"]|length }} items </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <span class="button"><a href="/construct">Add new</a></span>
    </body>
</html>
