<html>
    <head> 
        {% include "boiler.html" %}
        <title> Elephant Workset Viewer </title>
    </head>
    <body>
        {% for workset in worksets %}
        <div class = "ui-head" title=" {{ worksets[workset]["uri"]|safe }}">
            {{ worksets[workset]["title"]|safe }}
            <span class="bubble uri">URI</span>
        </div>
        <div class = "collection">
            <div class = "item">
                <span class="button"><a href="/">Back</a></span>
                <span class="button">Construct RDF</span>
                <span class="button">Clone in Elephant</span>
                <ul class="workset-metadata">
                    <li> Abstract: {{ worksets[workset]["abstract"]|safe }}</li>
                    <li> User: {{ worksets[workset]["user"]|safe }}</li>
                    <li> Created: {{ worksets[workset]["mod_date"]|safe }}</li>
                    <li class="numworks" onclick="expandItems(this)"> {{ worksets[workset]["works"]|length }} items </li>
                </ul>
                <div class="detailed-works">
                    {% for work in worksets[workset]["works"] %} 
                    <div class="work {{ work["saltset"]|safe }}"> 
                        <div class="title" title="{{ work["uri"]|safe }}">
                            <span class="itemheader">Title:</span> {{ work["worktitle"]|safe }}
                        </div>
                        <div class="author" title="{{ work["creator"]|safe }}">
                            <span class="itemheader">Author:</span> {{ work["author"]|safe }} 
                            {% if work["saltset"] == "eeboo_works" %}
                                <a href="{{ work["uri"] }}" title="{{ work["uri"] }}" target="_blank" class="bubble eebo">EEBO</a> 
                            {% else %}
                                <a href="{{ work["uri"] }}" title="{{ work["uri"] }}" target="_blank" class="bubble ht">&nbsp;HT&nbsp;</a> 
                            {% endif %}
                            {% if work["saltset"] == "eeboo_works" and work["viaf"] != "" %}
                            <a href="{{ work["viaf"] }}" title="{{ work["viaf"] }}" target="_blank" class="bubble viaf">VIAF</a> 
                            <a href="{{ work["loc"] }}" title="{{ work["loc"] }}" target="_blank" class="bubble loc">LOC</a>
                            {% endif %}
                        </div>
                        <div class="pubLocation"><span class="itemheader">Place of publication:</span> {{ work["place"]|safe }}</div>
                        <div class="imprint"><span class="itemheader">Imprint:</span> {{ work["place"]|safe }}</div>
                        <div class="pubDate"><span class="itemheader">Publication year:</span> {{ work["pubdate"]|safe }} {{work["datePrecision"]|safe}}</div>
                        {% if work["saltset"] == "eeboo_works" %}
                            <div class="elecLoc"><a href="{{ work["elecLoc"] }}" target="_blank">View electronic copy (EEBO via Historical Texts)</a></div>
                        {% else %}
                            <div class="elecLoc"><a href="{{ work["elecLoc"] }}" target="_blank">View electronic copy (HathiTrust)</a></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
